body {
  width: 100%;
  font: Sans-serif;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-size: 11px;
  width: 260px;

  min-height: 220px;
}

.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h1 {
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
}

table {
  table-layout: fixed;
  margin-top: 10px;
  border-collapse: collapse;

  width: 100%;
}
td {
  height: 30px;
}

tr {
  background-color: #eff0ef;
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(146, 146, 146, 0.459);
}

textarea,
input[type='button'],
input[type='submit'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='text'] {
  outline: none;
  width: 98%;
  text-indent: 5px;
  padding: 5px;
  margin: 5px;

  box-sizing: border-box;
  height: 30px;
  border: none;
  line-height: 20px;
}
input[type='submit'],
input[type='button'] {
  border: none;
  width: 80px;
  height: 30px;
  display: inline-block;
  position: relative;
  padding: 3px;
  margin: 3px;
}

a {
  outline: none;
}

datalist {
  display: none;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
option {
  border: none;
  box-shadow: none;
}

#toolbar {
  width: 100%;
  margin: 0 0px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f56b11;
  z-index: 3;
  background-color: #1c1d1c;
  font-size: 12px;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: #000;
}

/* selected link */
a:active {
  color: #000;
}

#notify {
  position: fixed;
  top: 25px;
  right: 10px;
  z-index: 3;
  max-width: 150vw;
  max-height: 50vh;
  overflow: hidden;
}
#notify > div {
  background-color: #fcf7df;
  border: solid 1px #f9e8c5;
  color: #7f6256;
  padding: 10px;
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modify input {
  display: inline-block;

  margin-left: -1px;
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;
}
.modify input:hover {
  opacity: 0.9;
}
.modify input:first-of-type {
  background-image: url(img/no.png);
}
.modify input:last-of-type {
  background-image: url(img/yes.png);
}
.flex {
  display: flex;
}
.vbox {
  flex-direction: column;
}
.nowrap {
  white-space: nowrap;
}
.wide {
  flex: 1;
}
.hide {
  display: none !important;
}
[firefox] {
  display: none;
}
button:disabled,
input[type='button']:disabled,
button.disabled,
input[type='button'].disabled {
  background-image: url(img/no.png);
}
@-moz-document url-prefix() {
  [no-firefox] {
    opacity: 0.5;
    pointer-events: none;
  }
  [firefox] {
    display: table-cell;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + toolbar {
  padding-top: 30px;
  margin-top: 30px;
}

#logout {
  margin-left: 80px;
  margin-top: 15px;
}
